@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* BODY */

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    background-color: #4d3cb8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80px;
    margin-left: 13%;
}

a, .subheading {
    color: #e3e1f4;
    font-size: 18px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

li {
    transition: all .2s ease-in-out;
}

li:hover {
    transform: translateY(3px);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-right: 15%;
}

/* LANDING */

.landing {
    background-color: #4d3cb8;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.heading {
    margin-left: 15%;
    flex: 1;
}

.img-landing {
    margin-right: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #e3e1f4; 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

button {
    font-family: 'Lato', sans-serif;
    background-color: #fcce05;
    color: #4d3cb8;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover { 
    transform: scale(1.05); 
}

/* INFORMATION CARDS */

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 40px auto;
}

.image-row {
    display: flex;
    gap: 6vw;
}

.image-subtext {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 190px;
    padding-bottom: 60px;
}

.img-info {
    height: 150px;
    padding: 20px;
}

.subtext {
    font-size: 20px;
    color: rgba(0, 0, 0, .75);
    margin-top: 0;
}

/* TESTIMONIAL */

.testimonial {
    background-color: #e3e1f4;
    padding: 80px 0;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: auto;
    width: 60%;
}

.author {
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

/* CALL TO ACTION */

.cta {
    font-size: 18px;
    background-color: #4d3cb8;
    margin: 80px 150px; 
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.action {
    color: #E5E7EB;
}

/* FOOTER */

footer {
    font-size: 12px;
    font-weight: 300;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: black;
}

/* MOBILE LAYOUT */

@media screen and (max-width: 480px) {
    /* HEADER */
    header {
        flex-direction: column;
    }

    .logo {
        margin-left: 0;
    }

    /* LANDING */

    .landing {
        padding-top: 80px;
        padding-bottom: 50px;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .heading {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subheading {
        text-align: justify;
    }

    .img-landing {
        margin: 0 20px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #e3e1f4; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    h1 {
        text-align: center;
        font-size: 40px;
    }

    button {
        width: 140px;
        height: 45px;
    }
    
    /* INFORMATION CARDS */
    h2 {
        text-align: center;
    }
    .image-row {
        flex-direction: column;
        gap: 0;
    }
    .img-info {
        padding-bottom: 10px;
    }

    .image-subtext {
        padding-bottom: 20px;
    }

    /* TESTIMONIAL */
    .testimonial {
        padding: 40px 0;
    }

    .quote {
        font-size: 26px;
        width: 80%;
    }

    .author {
        font-size: 16px;
        width: 70%;
        justify-content: flex-start;
    }

    /* CALL TO ACTION */
    .cta {
        font-size: 18px;
        margin: 40px 20px; 
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .action p {
        font-size: 16px;
        font-weight: 300;
    }

}